@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

/* Custom container styles */

.custom-container {
  max-width: 90%;
  margin: 0px auto;
}

@media screen and (min-width: 768px) {
  .custom-container {
    max-width: 650px;
  }
}

@media screen and (min-width: 850px) {
  .custom-container {
    max-width: 800px;
  }
}

@media screen and (min-width: 1024px) {
  .custom-container {
    max-width: 950px;
  }
}

@media screen and (min-width: 1330px) {
  .custom-container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1440px) {
  .custom-container {
    max-width: 1350px;
  }
}

@media screen and (min-width: 1660px) {
  .custom-container {
    max-width: 1440px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}